In [1]:
import pandas as pd
import numpy as np

In [2]:
#OurData
dfOur = pd.read_csv("SRQLIK_2008-2019_Data_Kita.csv")

#Billing Number Initial FENNY data/Paseo Lady
dfFenny = pd.read_excel("Tissue Direct 2008-2019.xlsx")

# 1. Take out billing number of dfFenny in ourData

In [3]:
#Before we do filtering, we have take out all of Billing number of dfFenny

#Change data type of Billing number of dfOur to object
dfOur['Billing number'] = dfOur['Billing number'].astype(str)

In [4]:
#First before do anything, we he to have take out billing number which there are in dfFenny 
dfOur2 = dfOur.merge(dfFenny, indicator='i', how='outer').query('i == "left_only"').drop('i', 1)
#dfOur2 = dfOur.loc[pd.merge(dfOur, dfFenny, on=['Billing number'], how='left', indicator=True)['_merge'] == 'left_only']

# 2. Take out all the cancelled and minus value

In [5]:
#Take out all the cancelled and minus value
dfOur2['Cancelled'] = dfOur2['Cancelled'].fillna("No")
dfOur2 = dfOur2[dfOur2['Cancelled'] == 'No']
dfOur2 = dfOur2[dfOur2['Inv. Weight (MT)'] > 0]

In [6]:
dfOur2 = dfOur2[dfOur2['Act.goods issue date'] != '00000000']

# 3. Take features dfOur which has same definiton with dfUser

In [7]:
#One of the steps to compare our data and user data is Value (IDR), so we need add new Value (IDR) column, beacuse we haven't
#before
dfOur2['Value (IDR)']=dfOur2['Inv Sell Val Doc Cur']-dfOur2['Disc. Amount(Doc. Curr.)']

In [8]:
#Take features that we need
dfOur2 = dfOur2[['Act.goods issue date','Material ID','Req. Delivery Dt/ESD','Ship to Party','Sold to Party','Inv. Weight (MT)',
       'Sales document','Value (IDR)','Mill']]

In [9]:
#Transform Ton to Kg
dfOur2['Inv. Weight (MT)'] = dfOur2['Inv. Weight (MT)']*1000

In [10]:
#Change of each features name 
dfOur2.columns = ['GI_Date', 'Material','Req. Delivery Dt/ESD','Ship To', 'Customer','NW(Kg)','SO No','Value (IDR)','Mill']

In [11]:
#Change data type of GI Date to Date
dfOur2['GI_Date'] = pd.to_datetime(dfOur2['GI_Date'],dayfirst=True)

# 4.Filter Data

In [12]:
#Function filter Interval data
def excludeIntervalData(data,c):
    data2 = data[(data['NW(Kg)'] > 0) & (data['Value (IDR)'] != 0) ]  #Exclude Free Goods
    data3 = data2[data2['Customer'] != 2064741]     #Exclude Paseo Lady
    data4 = data3[c]
    print("Data Dimension ", data4.shape)
    print("Sum Value ", sum(data4['Value (IDR)']))
    print("Sum Weight ", sum(data4['NW(Kg)']))
    return data4

###############################################################################################################################

# 2018

In [13]:
#2018 Data
c = (dfOur2['GI_Date']>='2018-01-02') & (dfOur2['GI_Date'] <= '2018-12-31')
#d = (dfUser3['GI Date']>='2018-01-01') & (dfUser3['GI Date'] <= '2018-12-31')

dfOur18 = excludeIntervalData(dfOur2,c)

C:\Users\01135710\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """

Data Dimension  (290094, 9)
Sum Value  3557760586653.0
Sum Weight  147862570.0940049

In [14]:
a = dfOur18[["Material","SO No","Value (IDR)","GI_Date", "NW(Kg)"]]
data18 = pd.pivot_table(a, values=['Value (IDR)','NW(Kg)'], index=['Material','SO No','GI_Date'], aggfunc=np.sum).reset_index()

In [15]:
data18.shape

(277972, 5)

# 2017

In [16]:
#2017 Data
c = (dfOur2['GI_Date']>='2017-01-01') & (dfOur2['GI_Date'] <= '2017-12-31')
#d = (dfUser3['GI Date']>='2018-01-01') & (dfUser3['GI Date'] <= '2018-12-31')

dfOur17 = excludeIntervalData(dfOur2,c)

Data Dimension  (274222, 9)
Sum Value  3007219132785.0
Sum Weight  133392002.91398036

C:\Users\01135710\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """

In [17]:
a = dfOur17[["Material","SO No","Value (IDR)","GI_Date", "NW(Kg)"]]
data17 = pd.pivot_table(a, values=['Value (IDR)','NW(Kg)'], index=['Material','SO No','GI_Date'], aggfunc=np.sum).reset_index()

In [18]:
data17.shape

(262381, 5)

# 2016

In [19]:
#2016 Data
c = (dfOur2['GI_Date']>='2016-01-01') & (dfOur2['GI_Date'] <= '2016-12-31')
#d = (dfUser3['GI Date']>='2018-01-01') & (dfUser3['GI Date'] <= '2018-12-31')

dfOur16 = excludeIntervalData(dfOur2,c)
a = dfOur16[["Material","SO No","Value (IDR)","GI_Date", "NW(Kg)"]]
data16 = pd.pivot_table(a, values=['Value (IDR)','NW(Kg)'], index=['Material','SO No','GI_Date'], aggfunc=np.sum).reset_index()

C:\Users\01135710\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """

Data Dimension  (268932, 9)
Sum Value  2498375470521.0
Sum Weight  108795796.68098637

In [20]:
data16.shape

(255950, 5)

# 2015

In [21]:
#2015 Data
c = (dfOur2['GI_Date']>='2015-01-01') & (dfOur2['GI_Date'] <= '2015-12-31')
#d = (dfUser3['GI Date']>='2018-01-01') & (dfUser3['GI Date'] <= '2018-12-31')

dfOur15 = excludeIntervalData(dfOur2,c)
a = dfOur15[["Material","SO No","Value (IDR)","GI_Date", "NW(Kg)"]]
data15 = pd.pivot_table(a, values=['Value (IDR)','NW(Kg)'], index=['Material','SO No','GI_Date'], aggfunc=np.sum).reset_index()

C:\Users\01135710\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """

Data Dimension  (232156, 9)
Sum Value  1991508722838.0
Sum Weight  86006773.88798635

In [22]:
data15.shape

(222106, 5)

###############################################################################################################################

# 2015 - 2018

In [23]:
#Public Holiday 2018
publicHoliday2018 = ['01 Jan','16 Feb','17 Mar','30 Mar','14 Apr','01 May','10 May','29 May','01 Jun','11 Jun', '12 Jun',
                    '13 Jun','14 Jun','15 Jun','16 Jun','18 Jun','19 Jun','20 Jun','27 Jun','17 Aug','22 Aug','11 Sep',
                    '24 Dec','25 Dec']

#Public Holiday 2017
publicHoliday2017 = ['01 Jan','02 Jan','28 Jan','15 Feb','28 Mar','14 April','19 April','24 April','01 May','11 May',
                    '25 May','01 Jun','23 Jun','24 Jun','25 Jun','26 Jun','27 Jun','28 Jun','29 Jun','30 Jun',
                    '17 Aug','01 Sep','21 Sep','01 Dec','25 Dec','26 Dec']

#Public Holiday 2016
publicHoliday2016 = ['01 Jan','08 Feb','09 Mar','25 Mar','01 May','05 May','06 May','22 May','04 Jul','05 Jul','06 Jul',
                    '07 Jul','08 Jul','17 Aug','12 Sep','02 Oct','12 Dec','25 Dec','26 Dec']


#Public Holiday 2015
publicHoliday2015 = ['01 Jan','03 Jan','19 Feb','21 Mar','03 Apr','01 May',
                    '14 May','02 Jun','16 Jul','17 Jul','18 Jul','20 Jul',
                    '21 Jul','21 Jul','17 Aug','24 Sep','14 Oct','24 Dec',
                    '25 Dec']

###############################################################################################################################

In [24]:
#Def for add flag holidays includes public holidays and weekends
def dateHoliday(data, publicHoliday):
     data['GI_Date'] = pd.to_datetime(data['GI_Date'])
     #For Public Holidays
     holi1 = data['GI_Date'].dt.strftime('%d %b')
     #For Weekends    
     holi2 = data['GI_Date'].dt.strftime('%a')
     temp1 = []
     temp2 = []
     
      #Public Holidays
     for i in holi1:
         if i in publicHoliday:
             temp1.append('True')
         else:
             temp1.append('False')
     temp1 = pd.DataFrame(temp1,columns=['Holiday'])
    
      #Weekends
     for i in holi2:
         if i == 'Sun' or i == 'Sat':
             temp2.append('True')
         else:
             temp2.append('False')
     
     temp = pd.DataFrame(temp2,columns=['Holiday2'])
     temp1.loc[temp1['Holiday'].eq('False') & temp['Holiday2'].eq('True')] = 'True'
     #data = pd.concat([data,temp],1)
     return temp1

###############################################################################################################################

In [25]:
#Holiday flag 2018
holi = dateHoliday(data18,publicHoliday2018)

#Data Dimension
print(data18.shape)
print(holi.shape)

#Reset index
holi.reset_index(drop=True, inplace=True)
data18.reset_index(drop=True, inplace=True)

holidayData18 = pd.concat([data18,holi],1)
holidayData18 = holidayData18.sort_values(['GI_Date'])

(277972, 5)
(277972, 1)

In [26]:
holidayData18.head()

          Material         SO No    GI_Date   NW(Kg)  Value (IDR) Holiday
17473   69914087.0  2.300034e+09 2018-01-02  159.672    5116691.0   False
119934  69917167.0  2.300034e+09 2018-01-02  120.000    2866609.0   False
203853  69917434.0  2.300034e+09 2018-01-02   86.500    2770327.0   False
49108   69916125.0  1.907009e+09 2018-01-02  188.775    3115035.0   False
119935  69917167.0  2.300034e+09 2018-01-02  600.000   14333045.0   False

###############################################################################################################################

In [27]:
#Holiday flag 2017
holi = dateHoliday(data17,publicHoliday2017)

#Data Dimension
print(data17.shape)
print(holi.shape)

#Reset index
holi.reset_index(drop=True, inplace=True)
data17.reset_index(drop=True, inplace=True)

holidayData17 = pd.concat([data17,holi],1)
holidayData17 = holidayData17.sort_values(['GI_Date'])

(262381, 5)
(262381, 1)

In [28]:
holidayData17.head()

          Material         SO No    GI_Date   NW(Kg)  Value (IDR) Holiday
119161  69916514.0  1.852048e+09 2017-01-02    8.921     256811.0    True
109322  69916473.0  1.852048e+09 2017-01-02  307.611    8487818.0    True
109323  69916473.0  1.852048e+09 2017-01-02  296.218    8173454.0    True
33409   69914453.0  1.852048e+09 2017-01-02    5.000     154280.0    True
33410   69914453.0  1.852049e+09 2017-01-02   10.000     308560.0    True

###############################################################################################################################

In [29]:
#Holiday flag 2016
holi = dateHoliday(data16,publicHoliday2016)

#Data Dimension
print(data16.shape)
print(holi.shape)

#Reset index
holi.reset_index(drop=True, inplace=True)
data16.reset_index(drop=True, inplace=True)

holidayData16 = pd.concat([data16,holi],1)
holidayData16 = holidayData16.sort_values(['GI_Date'])

(255950, 5)
(255950, 1)

In [30]:
holidayData16.head()

         Material         SO No    GI_Date   NW(Kg)  Value (IDR) Holiday
74651  69914556.0  1.907002e+09 2016-01-01  609.400   15251364.0    True
4425   69910071.0  1.852001e+09 2016-01-01   58.806    1150802.0    True
39219  69913802.0  1.852001e+09 2016-01-01   12.442     291169.0    True
29605  69913201.0  1.852001e+09 2016-01-01  318.250    7048880.0    True
310    69906074.0  1.852001e+09 2016-01-01  675.000   12916432.0    True

###############################################################################################################################

In [31]:
#Holiday flag 2015
holi = dateHoliday(data15,publicHoliday2015)

#Data Dimension
print(data15.shape)
print(holi.shape)

#Reset index
holi.reset_index(drop=True, inplace=True)
data15.reset_index(drop=True, inplace=True)

holidayData15 = pd.concat([data15,holi],1)
holidayData15 = holidayData15.sort_values(['GI_Date'])

(222106, 5)
(222106, 1)

In [32]:
holidayData15.head()

          Material         SO No    GI_Date   NW(Kg)  Value (IDR) Holiday
167062  69914779.0  1.506504e+09 2015-01-01  115.740    5073000.0    True
45168   69911836.0  3.090064e+09 2015-01-02  102.420    2686254.0   False
190089  69915410.0  3.090064e+09 2015-01-02   19.008     418182.0   False
189689  69915312.0  3.090064e+09 2015-01-02   17.637     540982.0   False
189688  69915312.0  3.090064e+09 2015-01-02  205.765    6311454.0   False